@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary antialiased;
  }

  @media (min-width: 768px) {
    *, *::before, *::after {
      cursor: none !important;
    }
  }
}
